site_name: Network Pro™ Blog
site_url: https://blog.netwk.pro
repo_url: https://github.com/netwk-pro/blog
repo_name: GitHub
docs_dir: src
site_dir: build/

theme:
  language: en
  name: material
  font:
    text: null
    code: null
  logo: /icon-512x512.png
  favicon: /favicon.svg
  palette:
    # Default to dark mode
    - scheme: slate
      primary: amber
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Optional light mode
    - scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - navigation.top
    - search.suggest

extra:
  base_url: /
  #generator: false
  social:
    - icon: fontawesome/brands/instagram
      name: Network Pro™ on Instagram
      link: https://instagram.com/netwk_pro
    - icon: fontawesome/brands/facebook
      name: Network Pro™ on Facebook
      link: https://facebook.com/neteng.pro
    - icon: fontawesome/brands/linkedin
      name: Network Pro™ on LinkedIn
      link: https://linkedin.com/company/netwk-pro
    - icon: fontawesome/brands/mastodon
      name: Network Pro™ on Mastodon
      link: https://noc.social/@neteng_pro
    - icon: fontawesome/brands/discord
      name: Network Pro™ on Discord
      link: https://discord.neteng.pro
    - icon: fontawesome/solid/rss
      name: Network Pro™ on RSS
      link: https://blog.netwk.pro/feed_rss_created.xml
    - icon: fontawesome/solid/at
      name: Contact Us
      link: https://netwk.pro/contact

copyright: >
  Copyright &copy; 2025 Network Pro Strategies (Network Pro&trade;) – This blog
  does not use cookies. See our <a href="https://netwk.pro/privacy">Privacy
  Policy</a> for details.

plugins:
  - search
  - meta
  - privacy
  - blog:
      blog_toc: true
      blog_dir: .
      archive_date_format: MMMM yyyy
      post_excerpt: required
      categories: true
      categories_toc: true
      authors: true
  - tags:
      tags_file: tags.md
  - rss:
      match_path: 'posts/.*'
      date_from_meta:
        as_creation: date.created
        as_update: date.updated

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Tags: tags.md
  - Website: https://netwk.pro
  - Contributing:
      - Code of Conduct: CODE_OF_CONDUCT.md
      - Contribute to Network Pro™: contributing.md
  - RSS: https://blog.netwk.pro/feed_rss_created.xml
